<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>{% block title %}{% endblock %} | Tasklist</title>
</title>
</head>
<body>
  <nav class="p-6 flex items-center justify-between bg-gray-800 text-white">
    <a href="/" class="text-xl font-semibold">Tasklist</a>
    <div class="space-x-4">
      <a href="{% url 'core:about' %}" class="font-semibold">Equipe</a>
      <a href="{% url 'core:pricing' %}" class="font-semibold">Preços</a>
      
      <a href="{% url 'accounts:signup' %}" class="p-6 font-semibold bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-xl ml-4">Cadastre-se</a>
      <a href="{% url 'accounts:login' %}" class="p-6 font-semibold bg-gray-500 hover:bg-gray-600 text-white py-2 rounded-xl ml-4">Log in</a>
    </div>
  </nav>

  <main class="p-6">
    {% block content %}
    {% endblock %}
  </main>

  <footer class=" p-6 flex items-center justify-between bg-gray-900 text-white py-4">
    <p class="text-sm">© 2024 Tasklist. Todos os direitos reservados.</p>
  </footer>
</body>
</html>