{% extends 'core/base.html' %}

{% block title %}Links{% endblock %}

{% block content %}
    <h1 class="text-xl">Links</h1>
    <a href="{% url 'links:create_link' %}" class="inline-block py-4 px-6 my-2 font-semibold bg-blue-500 hover:bg-blue-600 text-white rounded-xl">Novo link</a>

    <div class="grid grid-cols-3 gap-3">
        {% for link in links %}
            <div class="bg-gray-100 p-6 rounded-xl">
                <h2 class="mb-4 text-xl">{{ link.name }}</h2>

                {% if link.description %}
                    <p class="mb-4 text-sm">{{ link.description }}</p>
                {% endif %}

                <a href="{{ link.url }}" class="text-cyan-700" target="_blank">Abrir link</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}